* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

h1 {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  border-bottom: 3px solid black;
  padding-bottom: 1px;
  font-family: "Play", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 26px;
}

ul {
  list-style: square inside;
}

li {
  font-size: 23px;
  margin: 15px;
}

.container {
  width: 100%;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(230, 230, 230, 0.9), rgba(230, 230, 230, 0));
  background-size: cover;
  cursor: default;
}

.stats,
.footer {
  font-family: "Comfortaa", cursive;
  letter-spacing: 1px;
}

.stats-today,
.stats-total {
  margin: 50px 0;
}

.stats-today-confirmed,
.stats-total-confirmed {
  color: rgb(65, 65, 65);
}

.stats-today-deaths,
.stats-total-deaths {
  color: rgb(218, 0, 0);
}

.stats-total-critical {
  color: rgb(211, 211, 17);
}

.stats-total-recovered {
  color: rgb(0, 184, 0);
}

.source {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  border-bottom: 2px solid rgb(136, 136, 136);
  padding-bottom: 1px;
  font-family: "Play", sans-serif;
  width: 57px;
  color: rgb(136, 136, 136);
  letter-spacing: 1px;
  outline: none;
  transition: all 0.4s;
}

.source:hover {
  border-bottom: 2px solid black;
  color: black;
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

.footer {
  position: absolute;
  bottom: -10%;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  background-image: linear-gradient(rgba(240, 240, 240, 0.95), rgba(250, 250, 250, 0.95));
  box-shadow: 0 -1px 15px rgb(240, 240, 240);
  padding: 16px;
  line-height: 20px;
  z-index: 1;
  visibility: hidden;
  transition: bottom 0.8s;
}

.footer-close-button {
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(219, 219, 219);
  border-radius: 4px;
  padding: 4px;
  font-size: 8px;
  margin: 4px;
}

.footer-close-button:hover {
  background-color: rgb(199, 199, 199);
}
